<h1>Here is your SECRET link to edit your post. You will only see it this ONE TIME! Copy it now and save it if you want to edit your post in the future.</h1>

<a href="/post/<%= @post.id %>/edit/<%= @post.access_key %>">Here's your link</a>
